Checks:
 - bugprone-*
 - -bugprone-multi-level-implicit-pointer-conversion
 - -bugprone-assignment-in-if-condition
 - -bugprone-easily-swappable-parameters
 - cert-*
 - -cert-int09-c
 - clang-*
 - -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
 - misc-*
 - -misc-include-cleaner
 - cppcoreguidelines-*
 - modernize-*
 - performance-*
 - portability-*
 - readability-*
 - -readability-function-cognitive-complexity
 - perl-*
CheckOptions:
 "bugprone-signed-bitwise.IgnorePositiveIntegerLiterals": true
